<#include "allshare/ciglib.html"> 
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>下单成功</title>
    <link rel="stylesheet" href="${base}/css/successful.css"/>
    <script type="text/javascript" src="${base}/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="${base}/js/zfewm.js"></script>
    <script type="text/javascript" src="${base}/js/touch.js"></script>
</head>
<body>
<div class="body">
    <div class="tour">
        <a href="${base}/order/orderList" class="tour1"><img src="${base}/img/back.png" alt="" style="height: 26px;width: 20px"></a>
        <p>操作提示</p>
    </div>
    <div class="header3">
        <div class="succeed">
            <li><img src="${base}/img/zhifu.jpg" alt="下单成功" style="width: 80px;margin: 0 auto;"/><p>下单成功!</p></li>
        </div>
    </div>
    <div style="width: 100%;height: 2rem;border-bottom: 1px solid #000000"></div>
    </div>
    <div class="spmc">
        <p>商品名称：精品粉丝</p>
    </div>
    <div class="spmc">
        <p>订单金额：￥20.52</p>
    </div>
    <div class="ewm">
       <ul>
           <li class="li1">订单编号：123412341234</li>
           <li class="li2"><a href="javascript:;" class="tcewm"><img class="tcewm" src="${base}/img/erweima.jpg" alt="二维码" style="width: 40px;height: 40px"/></a></li>
       </ul>
    </div>
    <div class="ckdd">
        <div style="width:11rem;margin:0 auto"><a href="${base}/order/orderDetail"><button type="button">查看订单</button></a></div>
    </div>
    <div class="wxts">
        <div class="neirong">
            <p style="color: #ff0000">!温馨提示</p>
            <p>1. 店家将尽快为您配送订单，若未及时送达，请及时联系平台客服。</p>
            <p>2. 订单预定成功后将变为配送中状态，此时无法取消订单，若需取消请联系店家，</p>
        </div>
    </div>
    <div class="kefu">
        <p>如有其他问题请拨打客服电话</p>
        <p style="color: green">888-888-8888</p>
      <div class="zshlogo">
            <a href="#"><img src="${base}/img/u63.png" alt="外卖网" style="max-width: 60px"/></a>
            <p style="color: #b2b2b2">外卖网提供技术支持</p>
        </div>
       <div class="wx_nav" id="wx_nav">
           <a href="${base}/home/index" class="nav_index" id="nav_index">首页</a>
           <a href="${base}/shopcart/info" class="nav_shopcart" id="nav_shopcart">购物车</a>
           <a href="${base}/order/orderList" class="nav_me on" id="nav_me on">订单</a>
		</div>
    </div>
<div class="dewm">

   <div>
       <img src="${base}/img/erweima.jpg" alt="二维码" style="margin: 0 auto;">
   </div>

</div>
<div class="theme-popover-mask"></div>
</body>
</html>